body{


    background: url(wl.jpg);



    
}

h1{

    font-size: 80px;
    color: cornsilk;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    padding: -32px;
    
}